{% extends 'base.html' %}

{% block content %}

<div style="
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    background-color: white;
    height: 600px;">


    <div style="width: 100%">
        <table>
            <tr>
                <th>№ п/п</th>
                <th>RFID метка</th>
                <th>Дата добавления</th>
                <th>Статус</th>
            </tr>
            {% for ballon in page_obj.object_list %}
            <tr>
                <td>{{ ballon.id }}</td>
                <td>{{ ballon.nfc_tag }}</td>
                <td>{{ ballon.creation_date }}</td>
                <td>{{ ballon.state }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination">

            {% for page in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{ page }}"> {{ page }} </a></li>
            {% endfor %}

            </ul>
        </nav> -->

        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav> -->
    

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Начало</a>
                <a href="?page={{ page_obj.previous_page_number }}">назад</a>
            {% endif %}
    
            <span class="current">
                Лист {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">вперёд</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Конец &raquo;</a>
            {% endif %}
        </span>
    </div>

    </div>
    <div> 
        <p>Количество баллонов: за текущую смену - {{ ballons_amount }}, за прошлую смену - {{ previous_ballons_amount }}</p>
    </div>
</div>

{% endblock content %}
