{% extends 'base.html' %}

{% block content %}

<div style="
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    background-color: white;
    height: 600px;">


    <div style="width: 100%">
        <table>
            <tr>
                <th>№ Баллона</th>
                <th>Дата добавления</th>
                <th>Статус</th>
            </tr>
            {% for ballon in page_obj.object_list %}
            <tr>
                <td>{{ ballon.nfc_tag }}</td>
                <td>{{ ballon.creation_date }}</td>
                <td>{{ ballon.state }}</td>
            </tr>
            {% endfor %}
        </table>
        
        
        <nav aria-label="Page navigation example">
            <ul class="pagination">

            {% for page in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{ page }}"> {{ page }} </a></li>
            {% endfor %}

            </ul>
        </nav>
          

    </div>
</div>

{% endblock content %}
