<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Газонаполнительная станция {% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href='/static/filling_station/media/Gas.ico'/>
    <link rel="stylesheet" href="/static/filling_station/bootstrap/css/bootstrap.min.css">
    <script src="/static/filling_station/bootstrap/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/filling_station/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-white">

<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-1">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/static/filling_station/media/logo_dark.svg" width="30%" alt="oops">
            </a>
        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/" style="color: #051831;">Архив баллонов</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link active" aria-current="page" href="#">Активная</a>-->
            <!--            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" style="color: #051831;"
                   role="button"
                   aria-expanded="false">Считыватели</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/reader/1" style="color: #051831;">1 - Погрузка полного баллона на трал 1</a></li>
                    <li><a class="dropdown-item" href="/reader/2" style="color: #051831;">2 - Погрузка полного баллона на трал 2</a></li>
                    <li><a class="dropdown-item" href="/reader/3" style="color: #051831;">3 - Приёмка пустого баллона из трала 1</a></li>
                    <li><a class="dropdown-item" href="/reader/4" style="color: #051831;">4 - Приёмка пустого баллона из трала 2</a></li>
                    <li><a class="dropdown-item" href="/reader/5" style="color: #051831;">5 - Регистрация полного баллона на складе</a></li>
                    <li><a class="dropdown-item" href="/reader/6" style="color: #051831;">6 - Регистрация пустого баллона в цеху</a></li>
                    <li><a class="dropdown-item" href="/reader/7" style="color: #051831;">7 - Наполнение баллона сжиженным газом. Карусель №1</a></li>
                    <li><a class="dropdown-item" href="/reader/8" style="color: #051831;">8 - Наполнение баллона сжиженным газом. Карусель №2</a></li>
                    <li><a class="dropdown-item" href="/reader/9" style="color: #051831;">9 - Вход в наполнительный цех из ремонтного</a></li>
                    <li><a class="dropdown-item" href="/reader/10" style="color: #051831;">10 - Выход из наполнительного цеха в ремонтный</a></li>
                    <li><a class="dropdown-item" href="/reader/11" style="color: #051831;">11 - Вход в ремонтный цех из наполнительного</a></li>
                    <li><a class="dropdown-item" href="/reader/12" style="color: #051831;">12 - Выход из ремонтного цеха в наполнительный</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" style="color: #051831;"
                   role="button"
                   aria-expanded="false">Партии</a>
                <ul class="dropdown-menu">

                    <li><a class="dropdown-item" href="{% url 'filling_station:balloon_loading_batch_list' %}"
                           style="color: #051831;">Приёмка баллонов</a></li>
                    <li><a class="dropdown-item" href="{% url 'filling_station:balloon_unloading_batch_list' %}"
                           style="color: #051831;">Отгрузка баллонов</a></li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" style="color: #051831;"
                   role="button"
                   aria-expanded="false">Транспорт</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'filling_station:truck_list' %}"
                           style="color: #051831;">Грузовики</a></li>
                    <li><a class="dropdown-item" href="{% url 'filling_station:trailer_list' %}"
                           style="color: #051831;">Прицепы</a></li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'filling_station:ttn_list' %}" style="color: #051831;">ТТН</a>
            </li>
        </ul>

        <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
            <p style="color: #051831;">Текущий пользователь - {{ user.get_username }}</p>
            <!--            <button type="button" class="btn" style="background-color: #3CBBD9; color: white;">Войти</button>-->
            {% endif %}
        </div>

    </header>
</div>
<div class="container-fluid">
    <!--    <div class="d-flex justify-content-center" style="flex-direction: column; align-items: center;">-->
    {% block content %}
    {% endblock content %}
    <!--    </div>-->
</div>
</body>
</html>