{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

<h5>Партии приёмки/отгрузки автоцистерн</h5>

<table class="table table-striped table-hover vertical-align: middle" style="border-radius: 5px; overflow: hidden;">
    <tr class="table-dark" align="center" style="background-color: #051831 !important; color: white !important;">
        <th>Номер партии</th>
        <th>Тип партии</th>
        <th>Дата начала</th>
        <th>Время начала</th>
        <th>Дата окончания</th>
        <th>Время окончания</th>
        <th>Автомобиль</th>
        <th>Прицеп</th>
        <th>Вес пустого т/с (весы)</th>
        <th>Вес полного т/с (весы)</th>
        <th>Принято газа (весы)</th>
        <th>Принято газа (массомер)</th>
        <th>Тип газа</th>
        <th>В работе</th>
        <th>ТТН</th>
    </tr>
    {% for batch in page_obj.object_list %}
    <tr align="center">
        <td>
            <a href="{{ batch.get_absolute_url }}"> {{ batch.id }} </a>
        </td>
        <td>{% if batch.batch_type == 'l' %}Приёмка{% else %}Отгрузка{% endif %}</td>
        <td>{{ batch.begin_date|default_if_none:"-" }}</td>
        <td>{{ batch.begin_time|default_if_none:"-" }}</td>
        <td>{{ batch.end_date|default_if_none:"-" }}</td>
        <td>{{ batch.end_time|default_if_none:"-" }}</td>
        <td>{{ batch.truck|default_if_none:"-" }}</td>
        <td>{{ batch.trailer|default_if_none:"-" }}</td>
        <td>{{ batch.scale_empty_weight|floatformat:2|default_if_none:"-" }}</td>
        <td>{{ batch.scale_full_weight|floatformat:2|default_if_none:"-" }}</td>
        <td>{{ batch.weight_gas_amount|floatformat:2|default_if_none:"-" }}</td>
        <td>{{ batch.gas_amount|floatformat:2|default_if_none:"-" }}</td>
        <td>{{ batch.gas_type|default_if_none:"-" }}</td>
        <td>{% if batch.is_active %}Активна{% else %}Завершена{% endif %}</td>
        <td>{{ batch.ttn|default_if_none:"-" }}</td>
    </tr>
    {% endfor %}
</table>

{% include 'filling_station/_paginator.html' %}
{% endblock content %}
