{% extends 'base.html' %}

{% block title %} Удаление партии {% endblock %}

{% block content %}
<div class="container text-center">
    <h6>Вы уверены, что хотите удалить партию?</h6>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <button type="button" class="btn" style="background-color: #3CBBD9; color: white;"
                onclick="location.href='{{ balloonsloadingbatch.get_absolute_url }}'">Отмена
        </button>
    </form>
</div>
{% endblock content %}