{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="col-md-5 mb-2 mb-md-0">
    <h5>{{ title }}</h5>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col text-end">
            <p>Номер партии</p>
            <p>Дата начала</p>
            <p>Время начала</p>
            <p>Дата окончания</p>
            <p>Время окончания</p>
            <p>Автомобиль</p>
            <p>Прицеп</p>
            <p>Количество газа</p>
            <p>Баллонов с RFID</p>
            <p>Баллонов 5л</p>
            <p>Баллонов 12л</p>
            <p>Баллонов 27л</p>
            <p>Баллонов 50л</p>
            <p>В работе</p>
            <p>ТТН</p>
        </div>
        <div class="col text-start">
            <p>{{ batch.id }}</p>
            <p>{{ batch.begin_date|default_if_none:"-" }}</p>
            <p>{{ batch.begin_time|default_if_none:"-" }}</p>
            <p>{{ batch.end_date|default_if_none:"-" }}</p>
            <p>{{ batch.end_time|default_if_none:"-" }}</p>
            <p>{{ batch.truck|default_if_none:"-" }}</p>
            <p>{{ batch.trailer|default_if_none:"-" }}</p>
            <p>{{ batch.gas_amount|default_if_none:"-" }}</p>
            <p>{{ batch.amount_of_rfid|default_if_none:"-" }}</p>
            <p>{{ batch.amount_of_5_liters|default_if_none:"-" }}</p>
            <p>{{ batch.amount_of_12_liters|default_if_none:"-" }}</p>
            <p>{{ batch.amount_of_27_liters|default_if_none:"-" }}</p>
            <p>{{ batch.amount_of_50_liters|default_if_none:"-" }}</p>
            <p>{% if batch.is_active %}Активна{% else %}Завершена{% endif %}</p>
            <p>{{ batch.ttn|default_if_none:"-" }}</p>
        </div>
    </div>
</div>

<div class="container text-center">
    {% if main_list == 'loading' %}
    <button type="button" class="btn" style="background-color: #3CBBD9; color: white;"
            onclick="location.href='{% url 'filling_station:balloon_loading_batch_list' %}'">Назад
    </button>
    {% endif %}
    {% if main_list == 'unloading' %}
    <button type="button" class="btn" style="background-color: #3CBBD9; color: white;"
            onclick="location.href='{% url 'filling_station:balloon_unloading_batch_list' %}'">Назад
    </button>
    {% endif %}
    <button type="button" class="btn" style="background-color: #3CBBD9; color: white;"
            onclick="location.href = '{{ batch.get_update_url }}'">Редактировать
    </button>
    <button type="button" class="btn btn-danger" onclick="location.href = '{{ batch.get_delete_url }}'">Удалить
    </button>
</div>

{% endblock content %}
