{% extends 'base.html' %}
{% block title %} Карусель {% endblock %}

{% block content %}

{% load custom_filters %}

<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <h5>Установка наполнения баллонов</h5>
        </div>


<!--        <div class="col-md-4 mb-2 mb-md-0">-->
<!--            <form method="get" action="{% url 'filling_station:balloon_list' %}" class="d-flex">-->
<!--                 <input type="text" name="query" class="form-control me-2" placeholder="Введите номер метки или серийный номер" value="{{ request.GET.query }}">-->
<!--                <button type="submit" class="btn" style="background-color: #3CBBD9; color: white;">Фильтровать</button>-->
<!--            </form>-->
<!--        </div>-->
    </header>
</div>

<table class="table table-striped table-hover vertical-align: middle" style="border-radius: 5px; overflow: hidden;">
    <tr class="table-dark" align="center" style="background-color: #051831 !important; color: white !important;">
        <th>Номер поста</th>
        <th>Вес перед наполнением</th>
        <th>Вес после наполнения</th>
        <th>Номер метки</th>
        <th>Серийный номер</th>
        <th>Вес нетто</th>
        <th>Вес брутто</th>
        <th>Готов к наполнению</th>
        <th>Дата изменения</th>
        <th>Время изменения</th>
    </tr>
    {% for carousel in object_list %}
    <tr align="center">
        <td>{{ carousel.post_number }}</td>
        <td>{{ carousel.empty_weight|float_format }}</td>
        <td>{{ carousel.full_weight|float_format }}</td>
        <td>{{ carousel.nfc_tag|default_if_none:"-" }}</td>
        <td>{{ carousel.serial_number|default_if_none:"-" }}</td>
        <td>{{ carousel.netto|float_format }}</td>
        <td>{{ carousel.brutto|float_format }}</td>
        <td>{% if carousel.filling_status %}Да{% else %}Нет{% endif %}</td>
        <td>{{ carousel.change_date }}</td>
        <td>{{ carousel.change_time }}</td>
    </tr>
    {% endfor %}
</table>

{% include 'filling_station/_paginator.html' %}
{% endblock content %}
