{% extends 'base.html' %}
{% block title %} Детали ж/д цистерны {% endblock %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col text-end">
            <p>Номер</p>
            <p>Вес пустой цистерны</p>
            <p>Вес полной цистерны</p>
            <p>Масса перевозимого газа</p>
            <p>Тип газа</p>
            <p>Находится на станции</p>
            <p>Дата въезда</p>
            <p>Время въезда</p>
            <p>Дата выезда</p>
            <p>Время выезда</p>
        </div>
        <div class="col text-start">
            <p>{{ railwaytank.registration_number }}</p>
            <p>{{ railwaytank.empty_weight|default_if_none:"-" }}</p>
            <p>{{ railwaytank.full_weight|default_if_none:"-" }}</p>
            <p>{{ railwaytank.gas_weight|default_if_none:"-" }}</p>
            <p>{{ railwaytank.gas_type|default_if_none:"-" }}</p>
            <p>{% if railwaytank.is_on_station %}Да{% else %}Нет{% endif %}</p>
            <p>{{ railwaytank.entry_date|default_if_none:"-" }}</p>
            <p>{{ railwaytank.entry_time|default_if_none:"-" }}</p>
            <p>{{ railwaytank.departure_date|default_if_none:"-" }}</p>
            <p>{{ railwaytank.departure_time|default_if_none:"-" }}</p>
        </div>
    </div>
</div>

<div class="container text-center">
    <button type="button" class="btn" style="background-color: #3CBBD9; color: white;"
            onclick="location.href='{% url 'filling_station:railway_tank_list' %}'">Назад</button>
    <button type="button" class="btn" style="background-color: #3CBBD9; color: white;"
            onclick="location.href = '{{ railwaytank.get_update_url }}'">Редактировать</button>
    <button type="button" class="btn btn-danger" onclick="location.href = '{{ railwaytank.get_delete_url }}'">Удалить
    </button>
</div>

{% endblock content %}
